<head>
    <title>
        <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- React.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <!-- Socket.io -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <script>
        var URLS = {
            world: "<%= urls.world || "
            http: //localhost:8080" %>",
                user: "<%= urls.user || "
            http: //localhost:8081" %>"
            //web: "http://localhost:9090"
        };
    </script>


    <!-- Bundle -->
    <script src="/scripts/builds/components.js"></script>

    <!-- Scripts -->
    <script src="/scripts/urls.js"></script>
    <script src="/scripts/user.js"></script>
    <script src="/scripts/ship-models.js"></script>
    <script src="/scripts/products.js"></script>
    <script src="/scripts/socket-handler.js"></script>

</head>