<div class="col-sm-3">
    <div class="well">
        <p><strong>Alerts</strong></p>
        <div id="alerts">
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
        </div>
    </div>
</div>
