<form role="form"  id="login-form">
    <div class="form-group">
    <!--    <label for="email">Email address:</label> -->
        <input type="text" class="form-control" name="username" placeholder="Username or Email">
    </div>
    <div class="form-group">
    <!--    <label for="pwd">Password:</label> -->
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div id="login-err"></div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script src="scripts/login.js" async></script>
