<div id="content"></div>
<script type="text/babel">
    ReactDOM.render(
    <div>
        <h1>Test</h1>
        <Map.Dropdown url="<%= urls.world+'/map' %>"/>
        <Map.Selection url="<%= urls.world+'/map' %>"/>
    </div>, document.getElementById('content'));

</script>
