<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/images/logo.png" width="27px"></a>
        </div>
        <% if(tabs===true) { %>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a id="home-tab" data-toggle="tab" href="/#home" aria-expanded="true">Home</a>
                </li>
                <li>
                    <a data-toggle="tab" href="/#map">Map</a>
                </li>
                <li>
                    <a data-toggle="tab" href="/#ships">Ships</a>
                </li>
            </ul>
        <% } %>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="account-button" class="hidden" href="/account">
                    <span class="glyphicon glyphicon-user"></span>
                    My Account</a>
            </li>
            <li>
                <a id="login-button" href="#" data-toggle="popover" class="hidden" data-placement="bottom" title="Login" onclick="return false" data-content='<% include login%>'>
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login</a>
            </li>
            <li>
                <a id="signup-button" href="/signup" class="hidden">
                    <span class="glyphicon glyphicon-user"></span>
                    Sign Up</a>
            </li>
            <script src="scripts/navbar.js"></script>
        </ul>
    </div>
</nav>
<% include cookies.ejs %>
