<h1 class="well">My ships</h1>

<div id="shipcontent"></div>

<script src="cargo.jsx" type="text/babel"></script>
<script src="modal.jsx" type="text/babel"></script>
<script src="ships.jsx" type="text/babel"></script>
<!--<script src="scripts/modal_ship.js"></script>-->

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ship-modal">Open Modal</button> -->
<!-- Modal -->
<!--<div class="modal fade" id="ship-modal" role="dialog">
    <div class="modal-dialog">-->

        <!-- Modal content-->
<!--        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title ship-name"></h4>
            </div>
            <div class="modal-body">
                <img src="ajax-loader.gif" alt="Loading" width="42" height="42" class="loading-img">
                <div id="ship-data" hidden=true>
                    <p>Type:
                        <span class="ship-type"></span>
                    </p>
                    <p>Life:
                        <span class="ship-life"></span>
                    </p>
                    <p>Status:
                        <span class="ship-status"></span>
                    </p>
                    <p>City:
                        <span class="ship-city"></span>
                    </p>
                    <hr></hr>
                    <div id="ship-cargo">
                        <h4>Cargo</h4>
                        <p>Cargo stuff here</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>-->
