<h1 class="well">My ships</h1>

<div id="shipcontent"></div>

<script src="cargo.jsx" type="text/babel"></script>
<script src="ship-modal.jsx" type="text/babel"></script>
<script src="ships.jsx" type="text/babel"></script>