<% var title="Maelström - My Account" %>
<% include partials/header.ejs %>

<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <h1 class="text-center">Account</h1>
        <div class="jumbotron">
            Under Construction
        </div>
    </container>
</body>
    <% include partials/footer.ejs %>
</html>
