<!DOCTYPE html>
<html lang="en">

    <% var title="Maelström" %>
    <% include partials/header.ejs %>

    <body>
        <% include partials/navbar.ejs %>

        <div class="container text-center">
            <div class="row">
                <% include partials/left_menu.ejs %>
                <div class="col-sm-7">
                    <div id="content"></div>
                    <script type="text/babel">
                        ReactDOM.render(
                        <div>
                            <h1>Test</h1>
                            <Map.Dropdown url="<%= urls.world+'/map' %>"/>
                            <Map.Selection url="<%= urls.world+'/map' %>"/>
                        </div>, document.getElementById('content'));

                    </script>
                </div>
                <% include partials/right_menu.ejs %>                
            </div>
        </div>
    </body>

</html>
